<table>
    <tr>
        <td></td>
        <td>Grade</td>
        <td class="ttop">Year</td>
        <td class="ttop">Mint-Mark</td>
        <td class="ttop">Coin Name</td>
        <td>Country of Origin</td>
    </tr>
    <% if(coins!=undefined){coins.forEach(cos => {%>
    <tr>
        <td class="tside">
            <%if(user._id.toString()===cos.authorId.toString()){ %><form action="/coins/<%=cos._id%>?_method=DELETE" method="POST"><button type="submit" class="delbtn">X</button></form><%}%>
        </td>
        <td class="tside"><%= cos.coinGrade %></td>
        <td class="tcenter"><%= cos.coinYear %></td>
        <td class="tcenter"><%= cos.coinMint %></td>
        <td class="tcenter"><a href="/coins/<%= cos._id %>"class="alink"><%= cos.coinName %></a></td>
        <td class="tside"><%= cos.coinCountry %></td>
    </tr><%
    })}else{%><tr><td colspan="6"><b>None</b></td></tr><%}%>
</table>