<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= usrlist.listTitle %></title>
    <link rel="stylesheet" href="../../stylesheets/style.css" /><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<%- include("../partials/header") %>
<h1><%= usrlist.coinsLink.toString() %></h1>
<% if(user){ if(user._id.toString() == usrlist.authorId.toString()){%>
<button href="#"
    onclick="let coin = document.getElementById('addcoin').style;if(coin.visibility==='visible'){coin.visibility='hidden'}else{coin.visibility='visible'}">Add
    a Coin</button>
<div id="addcoin" style="visibility:hidden;"><%- include("../partials/addcoin") %></div>
<% }else{ %>
    <button href="#"
    onclick="let coin = document.getElementById('reqaddcoin').style;if(coin.visibility==='visible'){coin.visibility='hidden'}else{coin.visibility='visible'}">Request to Add a Coin</button>
<div id="reqaddcoin" style="visibility:hidden;"><%- include("../partials/reqcoin") %></div>
<% }} %>

<%- include("../partials/footer")%>