<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
</head>
<%- include("../partials/header") %>


<h1><%= title %></h1>
<% if(user){ %><button href="#"
    onclick="let list = document.getElementById('newlist').style;if(list.display==='block'){list.display='none'}else{list.display='block'}">New
    List</button>
    <button href="#"
    onclick="let list = document.getElementById('mylists').style;if(list.display==='block'){list.display='none'}else{list.display='block'}">My
    Lists</button>
    <button href="#"
    onclick="let coin = document.getElementById('addcoin').style;if(coin.display==='block'){coin.display='none'}else{coin.display='block'}">Add
    a Coin</button>
    <button href="#"
    onclick="let coin = document.getElementById('mycoins').style;if(coin.display==='block'){coin.display='none'}else{coin.display='block'}">My Coins</button>
    <div id="newlist" style="display:none;"><%- include("../partials/list") %></div>
    <div id="mylists" style="display:none;"><%- include("../partials/mylist") %></div>
    <div id="addcoin" style="display:none;"><%- include("../partials/coin") %></div>
    <div id="mycoins" style="display:none;"><%- include("../partials/mycoin") %></div>
<%}%>

<%- include("../partials/footer")%>